# Build outputs
.gradle/
/build/
/*/build/
/*/*/build/
/*/*/*/build/
/graph/graph/try/build/
/graph/graph/try/app/build/
/graph/graph/try/lib/build/
out/
gradle/dependency-locks/*.lockfile
/*.lockfile

# IDEA Project files
.idea/
!/.idea/icon.png
!/.idea/misc.xml
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
*.iml
*.ipr
*.iws

# Other
/temp/
/local.properties
hs_err_pid*.log
replay_pid*.log
