language: android
script: ./gradlew --stacktrace check tests -PverboseReports
jdk: oraclejdk8

android:
  licenses:
    - android-sdk-license-.+
  components:
    - tools
    - platform-tools
    - build-tools-26.0.2
    - android-26

before_cache:
  # Don't cache lock files to prevent breaking future builds
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
  - rm -f  /tmp/.gradle-test-kit-travis/caches/modules-2/modules-2.lock
  - rm -fr /tmp/.gradle-test-kit-travis/caches/*/plugin-resolution/
  # Make cache smaller
  - rm -f  $HOME/.gradle/wrapper/dists/gradle-*/*/gradle-*.zip
  - rm -fr $HOME/.gradle/wrapper/dists/gradle-*/*/gradle-*/samples
  - rm -fr $HOME/.gradle/wrapper/dists/gradle-*/*/gradle-*/docs
  - rm -fr $HOME/.gradle/wrapper/dists/gradle-*/*/gradle-*/src
  - find $ANDROID_HOME -maxdepth 3 -type d
cache:
  directories:
    # Prevent "Downloading https://services.gradle.org/distributions/gradle-4.2.1-all.zip"
    # Prevent "Unzipping /home/travis/.gradle/wrapper/dists/gradle-4.2.1-all/domrskppdhf3wtn5mziw0c2zr/gradle-4.2.1-all.zip"
    - $HOME/.gradle/wrapper/dists/gradle-4.2.1-all/
    # Prevent "Download https://jcenter.bintray.com/"" during compilation
    - $HOME/.gradle/caches/modules-2/
    # Prevent "Generating JAR file 'gradle-api-4.2.1.jar'" during compilation
    - $HOME/.gradle/caches/4.2.1/generated-gradle-jars/
    # Prevent "Download https://jcenter.bintray.com/" during test runs
    - /tmp/.gradle-test-kit-travis/caches/modules-2/
    # Prevent "Generating JAR file 'gradle-api-4.2.1.jar'" during test runs
    - /tmp/.gradle-test-kit-travis/caches/4.2.1/generated-gradle-jars/
    # TODO Keep installed SDK?
    #- $ANDROID_HOME
