language: android
jdk: oraclejdk8

# To run specific test, replace `check tests` with `:quality:test --tests '*.HtmlReportTaskTest.runs on lints'`
script: ./gradlew
  --stacktrace
  check tests
  -PverboseReports
  -Pnet.twisterrob.test.android.pluginVersion=$ANDROID_PLUGIN_VERSION
  -Pnet.twisterrob.gradle.runner.gradleVersion=$TEST_GRADLE_VERSION

env:
  # set them here just so if it fails/missing for whatever reason: it's not substituted to "", but a searchable value
  global:
    # see https://developer.android.com/studio/releases/gradle-plugin#updating-gradle
    - TEST_GRADLE_VERSION=unset
    - ANDROID_PLUGIN_VERSION=unset
    - ANDROID_BUILD_TOOLS_VERSION=unset
    # see android-all_kinds/build.gradle for more info
    - ANDROID_INSTANT_API_LEVEL=unset

jobs:
  include:
#   - name: "Android Gradle Plugin 3.0.x, Gradle 4.1+"
#     env:
#       - TEST_GRADLE_VERSION=4.2.1
#       - ANDROID_PLUGIN_VERSION=3.0.1
#       - ANDROID_BUILD_TOOLS_VERSION=26.0.3
#       - ANDROID_INSTANT_API_LEVEL=26
    - name: "Android Gradle Plugin 3.1.x, Gradle 4.4+"
      env:
        - TEST_GRADLE_VERSION=4.9
        - ANDROID_PLUGIN_VERSION=3.1.4
        - ANDROID_BUILD_TOOLS_VERSION=27.0.3
        - ANDROID_INSTANT_API_LEVEL=26
    - name: "Android Gradle Plugin 3.2.x, Gradle 4.6+"
      env:
        - TEST_GRADLE_VERSION=4.9
        - ANDROID_PLUGIN_VERSION=3.2.1
        - ANDROID_BUILD_TOOLS_VERSION=28.0.3
        - ANDROID_INSTANT_API_LEVEL=27
    - name: "Android Gradle Plugin 3.3.x, Gradle 4.10.1+"
      env:
        - TEST_GRADLE_VERSION=4.10.3
        - ANDROID_PLUGIN_VERSION=3.3.2
        - ANDROID_BUILD_TOOLS_VERSION=28.0.3
        - ANDROID_INSTANT_API_LEVEL=27

android:
  licenses:
    - android-sdk-license-.+
  components:
    - tools
    - platform-tools
    # AGP's com.android.SdkConstants.CURRENT_BUILD_TOOLS_VERSION
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    # InstantAppExtension overrides compileSdkVersion, see android-all_kinds/build.gradle
    - android-$ANDROID_INSTANT_API_LEVEL
    # compileSdkVersion for almost all tests
    - android-28

before_cache:
  # Don't cache lock files to prevent breaking future builds
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
  - rm -f  /tmp/.gradle-test-kit-travis/caches/modules-2/modules-2.lock
  - rm -fr /tmp/.gradle-test-kit-travis/caches/*/plugin-resolution/
  # Make cache smaller
  - rm -f  $HOME/.gradle/wrapper/dists/gradle-*/*/gradle-*.zip
  - rm -fr $HOME/.gradle/wrapper/dists/gradle-*/*/gradle-*/samples
  - rm -fr $HOME/.gradle/wrapper/dists/gradle-*/*/gradle-*/docs
  - rm -fr $HOME/.gradle/wrapper/dists/gradle-*/*/gradle-*/src
cache:
  directories:
    # Prevent "Downloading https://services.gradle.org/distributions/gradle-4.2.1-all.zip"
    # Prevent "Unzipping /home/travis/.gradle/wrapper/dists/gradle-4.2.1-all/domrskppdhf3wtn5mziw0c2zr/gradle-4.2.1-all.zip"
    - $HOME/.gradle/wrapper/dists/gradle-4.9-all/
    - $HOME/.gradle/wrapper/dists/gradle-4.10.3-all/
    # Prevent "Download https://jcenter.bintray.com/" during compilation
    - $HOME/.gradle/caches/modules-2/
    # Prevent "Generating JAR file 'gradle-api-4.2.1.jar'" during compilation
    - $HOME/.gradle/caches/4.9/generated-gradle-jars/
    - $HOME/.gradle/caches/4.10.3/generated-gradle-jars/
    # Prevent "Welcome to Gradle 4.9! Here are the highlights of this release:" in build log
    - $HOME/.gradle/notifications/4.9/release-features.rendered
    - $HOME/.gradle/notifications/4.10.3/release-features.rendered
    # Prevent "Download https://jcenter.bintray.com/" during test runs
    - /tmp/.gradle-test-kit-travis/caches/modules-2/
    # Prevent "Generating JAR file 'gradle-api-4.2.1.jar'" during test runs
    - /tmp/.gradle-test-kit-travis/caches/4.9/generated-gradle-jars/
    - /tmp/.gradle-test-kit-travis/caches/4.10.3/generated-gradle-jars/
    # Do not cache Android SDK, caching is done after SDK components are installed
    #- $ANDROID_HOME
