/*
Note: multiline comments cannot contain star characters:
https://github.com/graphstream/gs-core/blob/2.0/src/org/graphstream/ui/graphicGraph/stylesheet/parser/StyleSheetParser.jj#L283

Based on http://graphstream-project.org/doc/Tutorials/GraphStream-CSS-Reference_1.2/
@see net.twisterrob.gradle.graph.vis.graphstream.GraphStreamTaskVisualizer.Companion
@see org.graphstream.ui.graphicGraph.stylesheet.Style.setDefaults
*/

graph {
	fill-color: white;
}
node {
	/* These are unused in Graphstream 1.3
	text-background-mode: rounded-box;
	text-padding: 2px, 2px;
	text-background-color: red;
	*/
}
node:clicked {
	fill-color: gray;
}

node.unknown {
	fill-color: lightgray;
}
node.requested {
	fill-color: purple;
}
node.excluded {
	fill-color: pink;
}

node.executing {
	fill-color: yellow;
}
node.executed {
	fill-color: green;
}
node.failure {
	fill-color: red;
}
node.skipped {
	fill-color: cyan;
}
node.uptodate {
	fill-color: magenta;
}
